{% extends 'main/layout.html' %}

{% block title %}Home page{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>lalalalalalalallalalalal</p>
        <button class="btn btn-warning">on page about us</button> 

        {% for el in values %}
            {% if el == 'Hello' %}
            <p>{{ el|upper }}</p>    
            {% endif %}
        {% endfor %}

        {% for el in obj %}
            <p>{{ el }}</p>
        {% endfor %}
    </div>
{% endblock %}